<div class="product-card flex flex-col" (click)="goToDetails()">
  <div class="product-card__image-wrapper flex items-center justify-center">
    @if (imageUrl(product().image); as src) {
      <img [ngSrc]="src" [alt]="localizedName(product())" class="product-card__image" width="240" height="140"/>
    } @else {
      <div class="image-placeholder">
        <i class="pi pi-image"></i>
      </div>
    }
  </div>
  <div class="product-card__body flex flex-col gap-4">
    <span class="product-card__name">{{ localizedName(product()) }}</span>
    <span class="product-card__description">{{ localizedDescription(product()) }}</span>
  </div>
  <div class="product-card__footer flex flex-row items-center justify-between">
    <span class="product-card__price">{{ product().price | number:'1.2-2' }} {{ product().currency }}</span>
    <button
      pButton
      type="button"
      iconOnly
      size="small"
      [rounded]="true"
      [attr.aria-label]="'product.addToBasketAria' | translate"
      (click)="addToBasket($event)"
    ><i class="pi pi-shopping-cart"></i></button>
  </div>
</div>
