<div class="flex flex-col gap-16 app-container home animation-fadeIn">
  <h2 class="home__title animation-slideInDown">{{ 'home.title' | translate }}</h2>

  <ui-content-loader [data]="store.data" [contentTemplate]="content">
    <ng-template #content let-products>
      <div class="flex flex-col gap-16">
        <div class="home__grid flex flex-row flex-wrap gap-16 justify-center animation-fadeInUp">
          @for (product of products; track product.id) {
            <app-product-card [product]="product"></app-product-card>
          }
        </div>

        @if (store.pageResp().totalElements > 12) {
          <div class="flex flex-row justify-center">
            <p-paginator
              [rows]="store.pageResp().size"
              [totalRecords]="store.pageResp().totalElements"
              (onPageChange)="onPageChange($event)"
              [rowsPerPageOptions]="[12, 24, 48]"
              [first]="store.pageResp().number * store.pageResp().size"
            ></p-paginator>
          </div>
        }
      </div>
    </ng-template>
  </ui-content-loader>
</div>
