@use 'styles/flex';
@use 'styles/base';
@use 'styles/animation';
@use 'styles/prime-override';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
  color-scheme: light;
  --app-panel-bg: var(--p-surface-0, #ffffff);
}

html.my-app-dark {
  color-scheme: dark;
  --app-panel-bg: var(--p-slate-950);
}

html,
body {
  height: 100%;
  min-width: 100%;
  margin: 0;
  background-color: var(--app-panel-bg);
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--p-text-color);
}

router-outlet + * {
  min-width: 100%;
}

.default-layout__content > router-outlet + *,
.full-layout__content > router-outlet + * {
  display: block;
  animation: fadeIn 0.4s ease-out;
}
